<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="fr.pigeo.rimap.rimaprcp.getfeatureinfo.ui.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="fr.pigeo.rimap.rimaprcp.getfeatureinfo.ui.views.fdg"
            id="fr.pigeo.rimap.rimaprcp.getfeatureinfo.ui.views.fdg"
            name="dfg">
      </view>
   </extension>

</plugin>
