<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="rimaprcp"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="RiMaP RCP">
         <property
               name="appName"
               value="RiMaP RCP">
         </property>
      </product>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="RiMaP RCP">
         <property
               name="appName"
               value="RiMaP RCP">
         </property>
      </product>
   </extension>

</plugin>
