<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="RiMap RCP Eclipse 4 target platform" sequenceNumber="41">
<locations>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.11.2.v20160202-2102"/>
<unit id="org.eclipse.pde.feature.group" version="3.11.2.v20160212-1500"/>
<unit id="org.eclipse.rcp.feature.group" version="4.5.2.v20160212-1500"/>
<unit id="org.eclipse.rcp.source.feature.group" version="4.5.2.v20160212-1500"/>
<unit id="org.eclipse.sdk.ide" version="4.5.2.M20160212-1500"/>
<unit id="org.eclipse.platform.sdk" version="4.5.2.M20160212-1500"/>
<unit id="org.eclipse.pde.source.feature.group" version="3.11.2.v20160212-1500"/>
<unit id="org.eclipse.platform.ide" version="4.5.2.M20160212-1500"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.5"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.sdk.feature.group" version="2.11.2.v20160208-0841"/>
<repository location="http://download.eclipse.org/releases/mars"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.e4.tools.css.spy.feature.source.feature.group" version="0.14.0.v20151113-1730"/>
<unit id="org.eclipse.e4.tools.css.spy.feature.feature.group" version="0.14.0.v20151113-1730"/>
<unit id="org.eclipse.e4.tools.event.spy.feature.source.feature.group" version="0.15.0.v20160520-1109"/>
<unit id="org.eclipse.e4.tools.spies.feature.feature.group" version="0.17.0.v20160520-1109"/>
<unit id="org.eclipse.e4.tools.preference.spy.feature.feature.group" version="0.1.0.v20160520-1109"/>
<unit id="org.eclipse.e4.tools.event.spy.feature.feature.group" version="0.15.0.v20160520-1109"/>
<unit id="org.eclipse.e4.tools.context.spy.feature.feature.group" version="0.17.0.v20160520-1109"/>
<unit id="org.eclipse.e4.tools.model.spy.feature.feature.group" version="0.1.0.v20160520-1109"/>
<unit id="org.eclipse.e4.tools.bundle.spy.feature.feature.group" version="0.1.0.v20160520-1109"/>
<repository location="http://download.eclipse.org/e4/snapshots/org.eclipse.e4.tools/latest/"/>
</location>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.7"/>
<implicitDependencies>
<plugin id="org.eclipse.e4.emf.xpath"/>
<plugin id="org.eclipse.emf.ecore.xmi"/>
</implicitDependencies>
</target>
