#SearchResult Text {
}
#SearchResult.hover{
	background-color: #c1d5ef;
}

#SearchResult.hover Text {
	background-color: #c1d5ef;
}

.MPartStack {
  swt-minimize-visible: false;
  swt-maximize-visible: false;
}
