#SearchResult Text {
}
#SearchResult.hover{
	background-color: #c1d5ef;
}

#SearchResult.hover Text {
	background-color: #c1d5ef;
}

.MPartStack {
  swt-minimize-visible: false;
  swt-maximize-visible: false;
}

CTabFolder
{
    swt-tab-renderer: url('bundleclass://org.eclipse.e4.ui.workbench.renderers.swt/org.eclipse.e4.ui.workbench.renderers.swt.CTabRendering');
    swt-tab-height: 24px;
}