<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="fr.pigeo.rimap.rimaprcp.admintools.core.ui.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="fr.pigeo.rimap.rimaprcp.admintools.core.ui.profile.is.admin">
         <with
               variable="sessionProfile">
            <equals
                  value="Administrator">
            </equals>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="fr.pigeo.rimap.rimaprcp.admintools.core.ui.user.is.me">
         <with
               variable="userName">
            <equals
                  value="admin">
            </equals>
         </with>
      </definition>
   </extension>

</plugin>
